body {
  background-color: #003333;
  font-family: copperplate; 
}

h1 {
  text-align: center;
  height: 80px;
  padding-top: 10px;
  color: white;
  font-size: 40px;
}

h2 {
  text-align: center;
  color: white;
}

.instructions {
  color: white;
  height: 120px;
}

.scoreboard {
  width: 400px;
  height: 60px;
  margin: 0 auto;
}

.scoreboard li {
  height: 20px;
  width: 190px;
  border: 1px solid white;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: white;
  list-style-type: none;
}

.score1 {
  float: left;
}

.score2 {
  float: left;
}

#inst {
  width: 600px;
  color: white;
  margin: 0 auto;
}

.grid {
  width: 600px;
  height: 600px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 3px solid white;
}

.squares {
  width: 96px;
  height: 96px;
  list-style-type: none;
  border:2px solid white;
  float: left;
  display: inline-block;
  background-color: #00CED1;
}


.squares img {
  width: 60%;
  padding-top: 20px;
  padding-left: 20px;
}

footer {

  padding-bottom: 20px;
}






