body {
  background-color: gray;
}

h1 {
  text-align: center;
  height: 80px;
  padding-top: 10px;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

.instructions {
  color: white;
}

#inst {
  width: 350px;
  height: 300px
  color: white;
  margin: 0 auto;
}

.grid {
  width: 400px;
  height: 400px;
  padding: 0;
  margin: 0 auto;
  border: 2px solid red;
}

.mines {
  width: 98px;
  height: 98px;
  list-style-type: none;
  border:1px solid black;
  float: left;
  display: inline-block;
  background-color: #F0F8FF;
  color: black
}

#start {
  color: white;
  text-align: left;
}

#finish {
  color: white;
  text-align: right;
}

.mines img {
  width: 10%; 
}

#x0y0 img {
  width: 50%;
}




